@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(#000000, #1c0071);
  background-position: center;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(35, 2, 118, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1e026c;
}

.container {
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 8px;
}

.form-control {
  background-color: lightgrey;
}